:root {
    /* Fonts */
    --micro-heading-font: "puffin", sans-serif;
    --micro-body-font: "tablet-gothic", sans-serif;
    --micro-font-color: #000;
    --micro-font-color-light: #fff;
    --micro-font-color-toned: #B6ADA5;
    --micro-inverse-color: #000;
    --micro-heading-color: var(--micro-theme-color);

    --micro-nav-background-color: var(--micro-background-light);
    --micro-nav-font-color: var(--micro-font-color);

    --micro-footer-background-color: #0b2230;
    --micro-footer-font-color: #fff;

    /* Backgrounds */
    --micro-background-light: #fff;
    --micro-background-dark: #0b2230;
    --micro-panel-color: #f8f8f8;

    /* Font Sizes */
    --micro-font-size-xsmall: 0.8rem;
    --micro-font-size-small: 1rem;
    --micro-font-size-medium: 1.5rem;
    --micro-font-size-larger: 2.25rem;
    --micro-font-size-xlarge: 4.5rem;

    /* Paddings */
    --micro-padding-small: 0.5rem;
    --micro-padding-medium: 1rem;
    --micro-padding-large: 2rem;
    --micro-padding-xlarge: 2.5rem;

    /*
        The minimum amount of space either side of the main (non-fullbleed)
        content.
        This is the amount of padding around the main content on mobile.
    */
    --micro-gutter-size: 0.75rem;

    /* Other */
    --micro-navbar-height: 72px;
    --micro-navbar-padding: var(--micro-padding-medium);
    --micro-panel-opacity: 0.8;
    --micro-transition-duration: 0.3s;
    --micro-transition-timing: ease-in-out;
    --micro-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --micro-box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.2);
    --micro-border-radius: 0.4rem;
}

:root {
    --sl-color-primary-50: hsl(from hsl(41.9, 100%, 47.45%) h s calc(l - 0.72)) !important;
    --sl-color-primary-100: hsl(from hsl(41.9, 100%, 47.45%) h s calc(l - 0.61)) !important;
    --sl-color-primary-200: hsl(from hsl(41.9, 100%, 47.45%) h s calc(l - 0.5)) !important;
    --sl-color-primary-300: hsl(from hsl(41.9, 100%, 47.45%) h s calc(l - 0.39)) !important;
    --sl-color-primary-400: hsl(from hsl(41.9, 100%, 47.45%) h s calc(l - 0.26)) !important;
    --sl-color-primary-500: hsl(from hsl(41.9, 100%, 47.45%) h s calc(l - 0.11999999999999997)) !important;
    --sl-color-primary-600: hsl(from hsl(41.9, 100%, 47.45%) h s calc(l - 0)) !important;
    --sl-color-primary-700: hsl(from hsl(41.9, 100%, 47.45%) h s calc(l - -0.08000000000000002)) !important;
    --sl-color-primary-800: hsl(from hsl(41.9, 100%, 47.45%) h s calc(l - -0.13)) !important;
    --sl-color-primary-900: hsl(from hsl(41.9, 100%, 47.45%) h s calc(l - -0.18)) !important;
    --sl-color-primary-950: hsl(from hsl(41.9, 100%, 47.45%) h s calc(l - -0.21000000000000002)) !important;
}

:root, oe-annotate, * {
    --oe-annotation-weight: 2px !important;
    --oe-annotation-color: #0c0 !important;
}

sl-carousel, sl-carousel-item {
    display: block;

    inset: 0;
    width: 100%;
    height: 100%;
}

sl-card {
    color: black;
}

sl-button[variant="primary"] {
    --sl-color-neutral-0: #041C2C !important;
    --sl-color-neutral-1000: white !important;
}

sl-button[variant="default"] {
    /* Hover text color */
    --sl-color-primary-700: black;
}

oe-verification-grid {
    margin-top: 2rem !important;
}

.hero-content-container {
    min-height: 600px;
}

@media (max-width: 31.25em /* 420px */) {
    .oe-navbar-logo-text {
        display: none;
    }
}

@media (max-width: 48em /* 768px */) {
    .hero-section {
        background-position: center !important;
    }
}

@media (max-width: 64em /* 1024px */) {
    .oe-hero-title {
        margin-bottom: 2rem !important
    }
}

.oe-navbar-logo-image, .oe-navbar-logo-text {
    margin-right: 2rem;
}

/*
    Some browsers do not support scroll-linked animations yet.
    If we do not support scroll-linked animations, the navigation bar will
    simply have a static background color and logo.
*/
@supports (animation-timeline: scroll()) {
    body:has(#home-page) {
        .oe-navigation {
            animation-name: navShrinkAnimation;
            animation-duration: 2s;
            animation-direction: alternate;
            animation-timeline: scroll(root);
            animation-range: 1px 200px;
            animation-fill-mode: forwards;
        }

        main {
            grid-row-start: header !important;
            grid-row-end: main !important;
        }

        .oe-header {
            .oe-navigation {
                background-color: transparent;
                backdrop-filter: blur(8px);
            }

            .oe-brand {
                color: white;
            }

            .oe-navbar-logo-image, .oe-navbar-logo-text {
                filter: grayscale(100%) brightness(999999%);

                animation-name: logoColorAnimation;
                animation-duration: 2s;
                animation-direction: alternate;
                animation-timeline: scroll(root);

                animation-range: 1px 50px;
                animation-fill-mode: forwards;
            }

            .oe-navbar-logo-text {
                font-family: var(--micro-heading-font);
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
    }
}

@keyframes navShrinkAnimation {
  from {
    background-color: transparent;
  }

  to {
    background-color: var(--micro-nav-background-color);
  }
}

@keyframes logoColorAnimation {
  from {
    /* Make the logo completely white */
    filter: grayscale(100%) brightness(999999%);
    color: white;
  }

  to {
    filter: grayscale(0%) brightness(100%);
    color: black;
  }
}

body:has(#login-page) {
    .card-header {
        align-items: start !important;
    }
}

.oe-header {
    z-index: 1000;
}

body:has(#home-page) {
    .hero-section {
        .oe-hero-title {
            text-shadow: 4px 2px 2px black;
            padding-bottom: 2rem;
        }

        /*
            Add a subtle overlay gradient that goes from transparent to var(--micro-background-dark)
            to improve text visibility over the hero image.
        */
        &::after {
            content: "";

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: linear-gradient(
                to bottom,
                rgba(11, 34, 48, 0) 0%,
                rgba(11, 34, 48, 0.4) 80%,
                var(--micro-background-dark) 100%
            );

            pointer-events: none;

            z-index: 1;
        }
    }

    section.page-section {
        padding-top: 2rem;
    }

    .two-column-section {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        width: 100%;
        height: 100%;

        & > * {
            display: flex;
            flex-direction: column;
            min-height: 0;

            .card-body {
                height: 100%;
            }

            .card-host, .spectrogram-card, oe-spectrogram, oe-axes, oe-indicator, oe-annotate {
                display: flex;
                flex-direction: column;
                flex: 1 1;
                min-height: 0;

                height: 100%;
            }
        }
    }

    .text-block {
        font-size: 1.225em;
        letter-spacing: 0.25px;
        line-height: 1.8;
    }

    .section:nth-child(even) {
        background-color: var(--micro-background-dark);
        color: var(--micro-font-color-light);
    }

    .section:nth-child(odd) {
        background-color: var(--micro-background-light);
        color: var(--micro-font-color);
    }

    .hero-content, .oe-hero-title {
        width: 100% !important;
        flex-basis: 100% !important;
        text-align: center;
    }

    .hero-content-container {
        align-items: end !important;
        z-index: 99;
    }

    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .people-section {
        display: flex !important;
        justify-content: space-evenly;

        .person-card {
            max-width: 400px;
        }
    }

    .oe-call-to-action {
        padding-block: var(--micro-padding-xlarge) !important;
        text-align: justify;
    }

    .column-left {
        display: block;
        position: relative;
        min-width: 100%;
        min-height: 100%;

        .inline-video {
            display: flex;
            flex-direction: column;
            justify-content: center;

            position: absolute;
            min-width: 100%;
            min-height: 100%;

            & > * {
                flex: 1 1;
                max-height: 600px;
                border-radius: var(--micro-border-radius);
                contain: content;
            }
        }
    }

    .oe-image-column {
        gap: var(--micro-padding-large) !important;
    }
}

oe-verification-grid:not([grid-size="1"]) {
    margin-inline: 8rem !important;
    grid-column: fullbleed !important;

    max-height: 95dvh;
}
