:root {
    --oe-theme-hue: var(--micro-theme-hue) !important;
    --oe-theme-saturation: var(--micro-theme-saturation) !important;
    --oe-theme-lightness: var(--micro-theme-lightness) !important;
}
